#set($address = {})

#foreach ($key in $ctx.args.input.address.keySet())
  #if($ctx.args.input.address.get($key) != "")
    #set($values = $address.put($key, $ctx.args.input.address.get($key)))
  #end
#end

#set($input = $ctx.args.input.put("address", $address))

{}
