#set($address = {})

#foreach ($key in $ctx.stash.address.keySet())
  #if($ctx.stash.address.get($key) != "")
    #set($values = $address.put($key, $ctx.stash.address.get($key)))
  #end
#end

#set($input = $ctx.stash.put("address", $address))

{}
