$util.qr($ctx.stash.put("address", $ctx.args.input.address))
$util.qr($ctx.stash.put("bank", $ctx.args.input.bank))
$util.qr($ctx.stash.put("companyNumber", $ctx.args.input.companyNumber))
$util.qr($ctx.stash.put("telephone", $ctx.args.input.contact.telephone))
$util.qr($ctx.stash.put("vatRegistration", $ctx.args.input.vatRegistration))

{}
