{
  "createdAt": "$ctx.arguments.input.createdAt",
  "id": "$ctx.arguments.input.id",
  "message": "$ctx.arguments.input.message",
  "owner": "$ctx.arguments.input.owner",
  "payload": "$ctx.arguments.input.payload",
  "read": $ctx.arguments.input.read
}
