#set($companyId = $ctx.args.companyId)

#if($ctx.error)
  $utils.error($ctx.error.message, $ctx.error.type)
#end

{
  "id": $utils.toJson($companyId),
  "items": $utils.toJson($ctx.result.items)
  #if($ctx.result.nextToken)
    ,"nextToken": "$ctx.result.nextToken"
  #end
}
