{
  "balance": $utils.toJson($ctx.arguments.input.balance),
  "id": $utils.toJson($ctx.arguments.id),
  "owner": $utils.toJson($ctx.arguments.owner),
  "transactions": $utils.toJson($ctx.arguments.input.transactions),
  "vat": $utils.toJson($ctx.arguments.input.vat)
}
