#set($validAccountNumber = $util.matches("^(\d){8}$", $ctx.args.input.bank.accountNumber))
#set($validSortCode = $util.matches("^(\d){2}-(\d){2}-(\d){2}$", $ctx.args.input.bank.sortCode))

#if (!$validAccountNumber)
  $utils.error("Account number is invalid")
#end

#if (!$validSortCode)
  $utils.error("Sort code is invalid")
#end

{}
