#if($ctx.error)
  $util.appendError($ctx.error.message, $ctx.error.type, null, $ctx.result.cancellationReasons)
#end

#set($id = $context.result.keys[0].id)
#set($company = $ctx.args.input.company)
#set($owner = $ctx.identity.sub)
#set($input = $company.put("id", $id))
#set($input = $company.put("owner", $owner))

$utils.toJson($company)
