#set($validVatRegistration = $util.matches("^([GB])*(([1-9]\d{8})|([1-9]\d{11}))$", $ctx.stash.vatRegistration))

#if ($ctx.stash.vatRegistration != "")
  #if (!$validVatRegistration)
    $utils.error("VAT registration number is invalid")
  #end
#end

{}
