extends layout.pug

block content
  table
    tr
      td(class="typography") Hi {{ user.name }}
    tr
      td(class="typography") We detected suspicious activity from the ip: #[strong {{ user.source_ip }}] from #[strong {{ user.city }}], #[strong {{ user.country }}].
    tr
      td(class="typography--lg-spacing") If that is your IP address, please click the button below:
    tr
      td(class="typography--lg-spacing")
        table
          tr
            td(bgcolor="#007FA8" class="button")
              a(href="{{ url }}" class="button__link fallback-text") Unblock my IP address
    tr
      td(class="typography") or copy the link below into your browser:
    tr
      td(class="typography")
        a(href="{{ url }}" class="link") {{ url }}
    tr
      td(class="typography--lg-spacing") Otherwise disregard this email.
    tr
      td(class="typography--no-spacing") #[strong Please note:] Your account is not blocked, only access to it from the aforementioned IP.
