extends layout.pug

block content
  table
    tr
      td(class="typography") Hi {{ user.name }}
    tr
      td(class="typography") There was a security incident on another website unrelated to {{ friendly_name }}.
    tr
      td(class="typography") Your account is at risk because you were using the same password in both places.
    tr
      td(class="typography") Please change your password immediately, all login attempts will be blocked until you finish.
    tr
      td(class="typography--lg-spacing") Click the button below to change your password:
    tr
      td(class="typography--lg-spacing")
        table
          tr
            td(bgcolor="#007FA8" class="button")
              a(href="{{ url }}" class="button__link fallback-text") Change my password
    tr
      td(class="typography") or copy the link below into your browser:
    tr
      td(class="typography--no-spacing")
        a(href="{{ url }}" class="link") {{ url }}
